<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Todo App</title>
</head>
<body>
    <main>
        <header>
            <h1>TODO APP - HTMX</h1><img onclick="location.reload()" class="reload" src="reload.svg">
        </header>
        <form hx-post="api.php?action=post-todo"  hx-target="#todoList" hx-swap="beforeend">
            <div>
                <input type="text" name="todo" id="todo" placeholder="Add a todo here">
                <button type="submit">Add Todo</button>
            </div>
        </form>
        <section>
            <ul id="todoList" hx-get="api.php?action=todos-list" hx-trigger="load" hx-indicator="#indicator">
                <!-- <li>todo 1</li>
                <li class="done">todo 2</li> -->
            </ul>
            <img src="./loader.gif" alt="loading ..." class="htmx-indicator loader" id="indicator">
        </section>
    </main>
    
</body>
</html>