main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

header{

}

form input{
 width: 400px;
 padding: 10px;
 border-radius: 5px;
 
}
form div{
    position: relative;
}
form button{
    
    
    border: none;
    padding: 10px;
    right: 2px;
    top: 2px;
    position: absolute;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    transition: .3s;
    
    

}

form button:hover{
    background-color: gray;
    color: aliceblue;
}

section{
    width: 52%;

}

section ul{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

section li{

    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
    padding: 20px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.done{
    opacity: .6;
}